doctype html
html( lang="de" )
  head
    title Türöffner
    link( rel = "stylesheet", href = "/styles/cIndex.css", media="screen" )
    link( rel="shortcut icon", type="image/x-icon", href="/images/favicon.ico" )
    meta( name='viewport', content='width=device-width' )
  body
    block content
